<div class="row">
  <div class="col-xs-6">
  <%# grid system : put "col-hoge-num" in ".row"; row's width is 12 column  %>
  <%# .row にはdisplay: table, content: " ", clear: both のclearfixがついているよう
      https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css
  %>
    <%= form_for(message) do |f| %>
      <% if message.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%# form-groupをつけたdivのデフォルトは margin-bottom: 15 のようだ %>
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :content, 'メッセージ' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
    
      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>