<h1>メッセージ一覧</h1>

<% if @messages.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>メッセージ</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= link_to message.id, message %></td>
          <td><%= message.title %></td>
          <td><%= message.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @messages %>
    <%#
      kaminariをbootstrapに合わせる必要あり
      $ rails g kaminari:views bootstrap3
      app/views/kaminari/ へテーマがDLされる
    %>
  </div>
<% end %>

<%#
      link_to は Rails が提供する便利メソッドで、 link_to 表示文字列, リンク先 という形で記述します。
      ここでは、表示文字列 は message.id つまりメッセージの id であり、リンク先 は message となっています。
      リンク先 として message のように Model のインスタンス（レコード）を渡すと、自動的にそのインスタンスの 
      show アクションへとリンクされるようになります。
      省略せずに書くと message_path(message) となり、リンク先 にこう記述しても正常に動作します。 message も 
      message_path(message) もどちらも最終的に /messages/1 など /messages/:id の形の URL を生成しているだけです。
%>

<%= link_to '新規メッセージの投稿', new_message_path, class: "btn btn-primary" %>
<%# link_to は、class: "..." と記述することで、a タグに class を追加することができます %>